<div id='title' class='play_head' > 
  <h1>Hello <%= @name %> </h1>

</div>

<div id = 'stats' class='play_head'>

  <span id='wins' class = 'stats_block'>
    Total Wins:
    <%= @user_stats[0]%>

  </span>

  <span id = 'loses' class = 'stats_block'>
    Total Losses:
    <%= @user_stats[1]%>    
  </span>

  <span id = 'loses' class = 'stats_block'>
    Open Matches:
    <%= @user_stats[2]%>
  </span>

</div> 


<div class = 'main_play'>
  
  <div id = 'select_match' class = 'play_block'>

    <% @user_stats[3].each do |match| %>
    
    <div class="open_match_link">
      <a href="/gameplay/<%=match%>">Match <%=match %> </a>
    </div>
    
    <!-- <%= match %> -->
    <% end %>



    
  </div > 


  <div id = 'play_match' class = 'play_block'>
    <h3>Game Rules </h3>
    <img src="../img/rules.jpg" />
  </div>   


</div>







<!-- <form method='post' action='/signout'>
    <input type='submit' class="button" value='Logout'>
</form> -->