<div id='title' class='play_head' > 
  <h1>Hello <%= @name %> </h1>
</div>
<hr>

<div id='stats' class='play_head'>
  <span id='wins' class='stats_block'>
    Total Wins:
    <%= @user_stats[0]%>
  </span>

  <span id='loses' class='stats_block'>
    Total Losses:
    <%= @user_stats[1]%>    
  </span>

  <span id='matches' class='stats_block'>
    Open Matches:
    <%= @user_stats[2]%>
  </span>
</div> 
<hr>


<div class='main_play'>
    <div id='select_match' class='play_block'>
      <% @user_stats[3].each do |match| %>

        <% if match['p2_id'].nil? %>
          <div>
            Match <%=match['id']%> (waiting for player 2)
          </div>

        <%else%>
          <div class="open_match_link">
            <a href="/gameplay/<%=match['id']%>">Match <%=match['id'] %> </a>
          </div>
        <% end %>
      <% end %>
      <a href='/start-match/user_id/<%=session[:user_id]%>' >Start/Join New Match</a>
    </div > 
  

  <div id='play_match' class='play_block rules'>
    <h3>Game Rules </h3>
    <img src="../img/rules.jpg" />
  </div>   
</div>